$white: #fff;
$black: #000;

$background: #fafafa;


$purple: #D155FA;
$purple-dark: #8C2AAD;
$green: #32AD7B;
$gray: #777;	
$gray-dark: #303133;
$gray-light: #d8d8d8;
$brown: #b4975a;

/*Fuentes
-------------------------------------*/
$fuente-principal: 'Playfair Display', serif;
$fuente-secundaria: 'Poppins', serif;